<div class="contract-manage-header">
  <app-module-header [moduleName]="'合同管理'">
    <button nz-button nzType="primary">新增</button>
    <button nz-button nzType="primary" (click)="deleteContracts()">导入</button>
    <button nz-button nzType="default">删除</button>
  </app-module-header>
</div>
<div class="left-content">
  <nz-tree [(ngModel)]="nodes" [nzShowLine]="true" [nzDefaultExpandedKeys]="expandKeys" (nzExpandChange)="mouseAction('expand',$event)"
    (nzDblClick)="mouseAction('dblclick',$event)" (nzContextMenu)="mouseAction('contextmenu', $event)" (nzClick)="mouseAction('click',$event)">
  </nz-tree>
</div>
<div class="right-content">
  <app-show-contact-list [isEdited]="isEdited" [(refresh)]="refreshContract" (groupListChange)="displayContractList=$event"
    (choosedGroup)="editTheContract($event)"></app-show-contact-list>
</div>
