<nz-modal *ngIf="isCreateOrUpdataModalVisible" class="create-update-contract-modal"
  nzWrapClassName="vertical-center-modal" [(nzVisible)]="isCreateOrUpdataModalVisible"
  [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" nzWidth="50%"
  (nzOnCancel)="closeTheModal()">
  <ng-template #modalTitle>
    {{theModalTitle}}
  </ng-template>
  <ng-template #modalContent>
    <nz-tabset>
      <nz-tab nzTitle="合同信息">
        <perfect-scrollbar class="perfect-scrollbar">
          <app-create-update-contract [(isCreate)]="isCreate" [contractItem]="contractItem"></app-create-update-contract>
        </perfect-scrollbar>
      </nz-tab>
      <nz-tab nzTitle="买受人信息">
        <perfect-scrollbar class="perfect-scrollbar">
          <app-create-update-buyers-info></app-create-update-buyers-info>
        </perfect-scrollbar>
      </nz-tab>
      <nz-tab nzTitle="不动产登记信息">
        <perfect-scrollbar class="perfect-scrollbar">
          <app-create-update-realestate-registration></app-create-update-realestate-registration>
        </perfect-scrollbar>
      </nz-tab>
      <!-- <nz-tab nzTitle="消息通知">
        Content of Tab Pane 3
      </nz-tab> -->
    </nz-tabset>

  </ng-template>

  <ng-template #modalFooter>
  </ng-template>
</nz-modal>