
  <div class="buyer-info">
      <div class="info-header">买受人一（李小雷）信息</div>
      <nz-table class="info-content" nzBordered>
        <tbody>
          <tr>
            <td class="content-item-label">姓名</td>
            <td>李小雷</td>
            <td class="content-item-label">身份证号码</td>
            <td>123456789012345678</td>
          </tr>
          <tr>
            <td class="content-item-label">住址</td>
            <td [attr.colspan]="3">江苏省苏州市苏州工业园区现代大道888号中央景城10幢1405室</td>
          </tr>
          <tr>
            <td class="content-item-label">电话号码</td>
            <td>12345678901</td>
            <td class="content-item-label">婚姻情况</td>
            <td>已婚</td>
          </tr>
          <tr>
            <td class="content-item-label">是否有未成年子女</td>
            <td>是</td>
            <td class="content-item-label">未成年子女数量</td>
            <td>1</td>
          </tr>
        </tbody>
      </nz-table>
      <div class="info-footer">
        <button nz-button nzType="primary">编辑</button>
        <button nz-button nzType="default">删除</button>
      </div>
    </div>
    <div class="buyer-info">
      <div class="info-header">买受人二（李小雷）信息</div>
      <nz-table class="info-content" nzBordered>
        <tbody>
          <tr>
            <td class="content-item-label">姓名</td>
            <td>李小雷</td>
            <td class="content-item-label">身份证号码</td>
            <td>123456789012345678</td>
          </tr>
          <tr>
            <td class="content-item-label">住址</td>
            <td [attr.colspan]="3">江苏省苏州市苏州工业园区现代大道888号中央景城10幢1405室</td>
          </tr>
          <tr>
            <td class="content-item-label">电话号码</td>
            <td>12345678901</td>
            <td class="content-item-label">婚姻情况</td>
            <td>已婚</td>
          </tr>
          <tr>
            <td class="content-item-label">是否有未成年子女</td>
            <td>是</td>
            <td class="content-item-label">未成年子女数量</td>
            <td>1</td>
          </tr>
        </tbody>
      </nz-table>
      <div class="info-footer">
        <button nz-button nzType="default">取消</button>
        <button nz-button nzType="primary">保存</button>
        <button nz-button nzType="default">删除</button>
      </div>
    </div>