:host {
    display: block;
    width: 100%;
    height: 100%;
}

.buyer-info {
    width: 100%;
}

.info-header {
    width: 100%;
    height: 15px;
    margin: 15px 0 10px 0;
    padding-left: 10px;
    line-height: 15px;
    font-size: 14px;
    font-weight: bold;
    border-left: 4px solid #0084d3;
    &:first-child{
        margin-top: 0;
    }
}

.info-content {
    width: 100%;
    ::ng-deep {
        .ant-table-body {
            table {
                border-color: #e0e0e0;
            }
        }
        .ant-table-tbody {
            td {
                height: 40px;
                padding: 0 10px;
                line-height: 40px;
                background-color: #f8f8f8;
                border-color: #e0e0e0;
                color: #333;
            }
        }
        .ant-table-placeholder {
            display: none;
        }
    }
}

.content-item-label {
    text-align: right;
}

.info-footer {
    width: 100%;
    margin-top: 20px;
    text-align: right;
}

button[nz-button] {
    margin-left: 10px;
}