<div class="group-manage-header">
  <app-module-header [moduleName]="'楼盘管理'">
    <button nz-button nzType="primary" (click)="createAGroup()">新增</button>
    <button nz-button nzType="default" (click)="deleteGroups()">删除</button>
  </app-module-header>
</div>
<div class="group-manage-content">
  <app-show-group-list [isEdited]="isEdited" [(refresh)]="refreshGroup" (choosedGroup)="editTheGroup($event)" (groupListChange)="displayGroupList=$event"></app-show-group-list>
</div>
<!-- 新增或者编辑楼盘 -->
<app-create-update-group-modal [groupItem]="groupItem" [isCreate]="isCreate" [(isCreateOrUpdataModalVisible)]="isCreateOrUpdataModalVisible"
  (groupItemChange)="createOrUpdateTheGroupItem($event)"></app-create-update-group-modal>
<!-- 删除功能的确认框 -->
<app-delete-groups-modal [(isDelModalVisible)]="isDelModalVisible" [toDelDataList]="toDelDataList" (isToDelete)="isToDelete($event)"></app-delete-groups-modal>
