<nz-spin [nzSize]="'large'" [nzSpinning]="isLoading">
  <div class="search-result">
    共找到
    <span class="contractTotal">{{contractTotal}}</span>
    个合同</div>
  <div class="search-content">
    <nz-table class="na-table" #rowSelectionTable [nzData]="contractList" (nzCurrentPageDataChange)="currentPageDataChange($event)"
      (nzPageIndexChange)="refreshStatus()" (nzPageSizeChange)="refreshStatus()">
      <thead>
        <tr>
          <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
          <th></th>
          <th>合同名称</th>
          <th>幢号</th>
          <th>室号</th>
          <th>坐落</th>
          <th>实测土地面积</th>
          <th>实测建筑面积</th>
          <th>实测后总价</th>
          <th>是否贷款</th>
          <th>贷款银行</th>
          <th>代办费</th>
          <th>是否含车位</th>
          <th>当前办理进度</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of rowSelectionTable.data">
          <td nzShowCheckbox [(nzChecked)]="dataItem.checked" (nzCheckedChange)="refreshStatus($event)"></td>
          <td>
            <a (click)="chooseTheContract(dataItem)">编辑</a>
          </td>
          <td>{{dataItem.Name}}</td>
          <td>{{dataItem.BuildingName}}</td>
          <td>{{dataItem.RoomName}}</td>
          <td>{{dataItem.Address}}</td>
          <td>{{dataItem.LandArea}}</td>
          <td>{{dataItem.RoomArea}}</td>
          <td>{{dataItem.Price}}</td>
          <td>{{dataItem.IsLoan}}</td>
          <td>{{dataItem.LoanBank}}</td>
          <td>{{dataItem.AgencyFee}}</td>
          <td>{{dataItem.IsHavePark}}</td>
          <td>{{dataItem.Progress}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-spin>
