<div class="realestate-admin" [ngClass]="{'isCollapsed':isCollapsed}">
  <div class="header-content">
    <div class="left-header">
      <img class="logo" src="./assets/img/realestate-admin/logo.png">
    </div>
    <div class="right-header">
      <nz-dropdown >
        <a nz-dropdown>
          管理员 <i class="anticon anticon-caret-down"></i>
        </a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a>登出</a>
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </div>
  <div class="left-content">
    <ul class="nz-menu" nz-menu [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item (click)="clickMenuItem('./realestateAdmin/contractManage')">
        <span title>
          <i class="anticon anticon-mail"></i>
          <span>合同管理</span>
        </span>
      </li>
      <li nz-submenu>
        <span title>
          <i class="anticon anticon-appstore"></i>
          <span>Navigation Two</span>
        </span>
        <ul>
          <li nz-menu-item>Option 5</li>
          <li nz-menu-item>Option 6</li>
          <li nz-submenu>
            <span title>Submenu</span>
            <ul>
              <li nz-menu-item>Option 7</li>
              <li nz-menu-item>Option 8</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu>
        <span title>
          <i class="anticon anticon-setting"></i>
          <span>Navigation Three</span>
        </span>
        <ul>
          <li nz-menu-item>Option 9</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="right-content">
    <router-outlet></router-outlet>
  </div>
</div>