$border-color:rgb(232, 232, 232);
.search-result {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $border-color;
    line-height: 50px;
    text-align: center;
}

.na-table {
    ::ng-deep {
        nz-pagination {
            text-align: center;
        }
        .ant-pagination {
            float: none;
        }
        th {
            font-weight: bold;
        }
    }
}