/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
/* nz-zorro-modal 居中样式 */
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-modal {
  top: 0;
}
