$header-content-height:50px;
$left-content-width-collapsed:50px;
$left-content-width-notCollapsed:240px;
$nz-menu-item-width:50px;
$nz-menu-item-height:50px;
$border-color:rgb(232, 232, 232);
.host {
    display: block;
    width: 100%;
    height: 100%;
}

.layout {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header-content {
    width: 100%;
    height: $header-content-height;
}

.left-content,
.right-content {
    float: left;
    height: calc(100% - #{$header-content-height});
}

.left-content {
    width: $left-content-width-notCollapsed;
}

.activated {
    background-color: #e6f7ff;
}

.right-content {
    width: calc(100% - #{$left-content-width-notCollapsed});
}

.isCollapsed {
    .left-content {
        width: $left-content-width-collapsed;
    }
    .right-content {
        width: calc(100% - #{$left-content-width-collapsed});
    }
}

.nz-menu {
    width: 100%;
    height: 100%;
    ::ng-deep {
        .ant-menu-item,
        .ant-menu-submenu {
            border-bottom: 1px solid $border-color;
        }
        .ant-menu-item {
            height: $nz-menu-item-height;
            margin: 0;
            padding: 0 17px !important;
            line-height: $nz-menu-item-height;
            &:after {
                border-right: 0;
            }
        }
        .not-select.ant-menu-item-selected {
            background-color: #fff;
        }
    }
}