<div class="layout" [ngClass]="{'isCollapsed':isCollapsed}">
  <div class="header-content">
    <app-header></app-header>
  </div>
  <div class="left-content">
    <ul class="nz-menu" nz-menu [nzMode]="'inline'" nzTheme='light' [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item (click)="clickMenuItem('./realestateAdmin/groupManage')">
        <span title>
          <i class="anticon anticon-table"></i>
          <span>楼盘管理</span>
        </span>
      </li>
      <li nz-menu-item (click)="clickMenuItem('./realestateAdmin/contractManage')">
        <span title>
          <i class="anticon anticon-form"></i>
          <span>合同管理</span>
        </span>
      </li>
    </ul>
  </div>
  <div class="right-content">
    <router-outlet></router-outlet>
  </div>
</div>